
.Grace {
    overflow: hidden;
    /* max-width: 1080px; */
}

.Grace header, .Grace footer {
    background-color: "#bf9553";
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    border-bottom: 5px solid black;
    height: 140px;
}

.Grace footer {
    height: 80px;
    font-size: 16px;
    border-top: 5px solid rgb(45, 112, 18);
}
.Grace footer svg{
    font-size: 22px;
}

.Grace footer .col {
    height: 24px;
}

.Grace footer a {
    color: black;
    text-decoration: none;
}

.yellow {
    background-color: #FBCD53;
}

.intro {
    padding-left: 90px;
    padding-right: 40px;
}

h1 {
    margin-top: 1;
    font-size: 47px;
    color: #0f03e7;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

h2 {
    margin-top: 1em;
    font-size: 30px;
    font-weight: bold, underline;
    color: #3d3b67;
}

h3 {
    margin-top: 1em;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}

h4 {
    margin-top: 1em;
    font-size: 40px;
    font-weight: bold;
    color: #bd3b3b;
}

p {
    margin-top: 1em;
    font-size: 20px;
    color: #000000;
}
.red {
    background-color: #990000;
}
.text-red {
    color: #990000;
}

.skills h3, .interests h3, .education h3, .experience h3 {
    font-size: 9;
}

.experience h3 {
    margin-top: 1.25em;
}

.experience h4 {
    font-size: 1.1em;
}

.skills, .interests, .education, .experience {
    margin-left: 50px;
}

.education, .experience {
    margin-right: 50px;
}

.border-bottom {
    border-bottom: 4px solid black !important;
}
.InterestRow {
    line-height: 1.5em;
}
.Interest {
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 16px;
}