
.Nashville {
	overflow: hidden;
	max-width: 1080px;
	}

	.Nashville header, .Nashville footer {
		background-color: #414446;
		font-size: 48px;
		font-weight: bold;
		height: 300px;
	}

	.Nashville footer {
		height: 80px;
		font-size: 16px;
		border-top: 5px solid black;
	}

		.Nashville footer svg {
			font-size: 22px;
		}

		.Nashville footer .col {
			height: 24px;
		}

		.Nashville footer a {
			color: black;
			text-decoration: none;
		}



.titleBlock {
	background-color: #414446;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #808080;
	border-radius: 5px;
	color:white;
}

.centerLine {
	color: 414446;
	width: 300px;
	border:none;
	border-top:4px solid black;
}

.shortLine {
	color: red;
	width: 20px;
	border: none;
	stroke-width: 4px;
}

.blankRow {
	height: 20px;
}

.darkGrey {
	background-color: #414446;
}

.tan {
	background-color: #FFECCD;
}

.intro {
	padding-left: 0px;
	padding-right: 0px;
}

.verticalLine {
	background-color: grey;
	width: 4px;
	height: 50%;
	margin-top: -1px;
	margin-bottom: -1px;
}

.IconWrapper {
	
	
}


.h1 {
	margin-top: 1em;
	font-size: 84px;
	font-weight: bold;
	color: white;
}

.h2 {
	color: red;
	align-items: left;
	font-size: 400px;
}
.educationSummary{
	color: black;
	font-size: 14px;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;

}

.degreeStyle {
	color: red;
	font-size: 28px;
}

.box {
	background-color: #ff0000; 
	height: 100px; 
	border: 1px solid #ced4da; 
}

.boxFilled {
	background-color: #007bff;
}

.circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.SmallCircle {
	width: 40px;
	height: 42px;
	border-radius: 50%;
	border: 2px solid grey;
	display: flex;
	align-items: center;
	justify-content: center;
}

.spacerBlock {
	padding: 20px;
}

.profile {
	padding-top: 10px;
	padding-bottom: 10px;
}


.skills h3, .expertises h3, .education h3, .experience h3 {
	font-size: 1.2em;
}

.experience h3 {
	margin-top: 1.25em;
}

.experience h4 {
	font-size: 1.1em;
}

.skills, .expertises, .education, .experience {
	margin-left: 50px;
}

.education, .experience {
	margin-right: 50px;
}

.border-bottom {
	border-bottom: 4px solid black !important;
}
